<div class="component-body">
    <mat-toolbar color="primary">
        Mark Sheets
    </mat-toolbar>

    <div class="grid-container">
        <div class="grid-item">
            <mat-select placeholder="Select Class" [(value)]="selectedAcademicClass" (selectionChange)="academicClassChanged()">
                <mat-option 
                    *ngFor="let academicClass of academicClasses; let i = index" 
                    [value]="academicClass"
                    [disabled]="!isAdminUser && academicClass.label != teacherClassLabel">
                    {{ selectClassOption(academicClass.label, teacherClassLabel, isAdminUser) }}
                </mat-option>
            </mat-select>
        </div>
        <div class="grid-item">
            <mat-select placeholder="Select Academic Year" [(value)]="selectedAcademicYear">
                <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                    {{ academicYear }}
                </mat-option>
            </mat-select>
        </div>
        <div class="grid-item">
            <mat-select placeholder="Select Academic Trimester" [(value)]="selectedAcademicTrimester">
                <mat-option *ngFor="let academicTrimester of academicTrimesters | enumToArray; index as i" [value]="i">
                    {{ academicTrimester.replace('_', ' ') }}
                </mat-option>
            </mat-select>
        </div>
        <div class="grid-item">
            <button mat-button mat-raised-button class="btn-get-mark-sheet" (click)="getMarkSheet()">Get Mark Sheet</button>
        </div>
    </div>

    <app-class-mark-sheet
        [markSheetInitialised]="userHasSearched"
        [AcademicClass]="selectedAcademicClass"
        [AcademicYear]="selectedAcademicYear"
        [AcademicTrimester]="selectedAcademicTrimester"
        [termMarks]="marks$ | async"
        [busyfetchingMarks]="busyfetchingMarks"
        [markSheetError]="markSheetError"
        [students]="students$ | async"
        [schoolSubjects]="classSubjects$ | async"
        (retryFetchMarks)="getMarkSheet()"
        (saveMarks)="saveMarks($event)"
        (printPDFReport)="createPDFReports($event)"
    ></app-class-mark-sheet>

</div> 


<div class="out-of-view" #studentAcademicReport id="studentAcademicReport">
    <h1 class="out-of-view__title">REPORT</h1>
    <div id="main-report-container" class="container">
        <header class="row">
            <div class="col-sm-9" id="document-title-container">
                <h2>ONGENGA ENGLISH PRIVATE PRIMARY SCHOOL REPORT</h2>
                <div class="row" id="report-details">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3 report-detail-label">School:</div>
                            <div class="col-sm-9 right-align">ONGENGA ENGLISH PRIVATE PS</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 report-detail-label">Circuit:</div>
                            <div class="col-sm-9 right-align"><span class="right-align">Ohangwena Region</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 report-detail-label">Address:</div>
                            <div class="col-sm-9 right-align">ONGENGA ENGLISH PRIVATE PS <br>Erf 45</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 report-detail-label">Phone:</div>
                            <div class="col-sm-9 right-align">065 xx xxxx</div>
                        </div>            
                    </div>
                    <div class="col-sm-4" id="school-stamp-box">
                        <p>SCHOOL STAMP</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="coat_of_arms_container">
                <img src="assets/img/coat_of_arms.png" alt="">
            </div>
        </header>

        <main id="report-body">
            <table class="marks-table">
                <tr>
                    <th>Date of birth:</th>
                    <th>Grade 3 <br> Term / </th>
                    </tr><tr>
                    <td>January</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$50</td>
                </tr>
            </table>
            <section id="remarks"></section>
        </main>
        
        <p>School Reopens: </p>
        <p>POSITION: out of </p>
        <p>DAYS ABSENT: out of </p>

        <footer id="report-footer">
            <section id="grades"></section>
            <section id="signatures">
                <div class="row signatures-block">
                    <div class="col">CLASS TEACHER</div>
                    <div class="col">Name</div>
                    <div class="col">Signature</div>
                    <div class="col">Date</div>
                </div>
                <div class="row signatures-block">
                    <div class="col">PRINCIPAL</div>
                    <div class="col">Name</div>
                    <div class="col">Signature</div>
                    <div class="col">Date</div>
                </div>
                <div class="row signatures-block">
                    <div class="col">PARENT</div>
                    <div class="col">Name</div>
                    <div class="col">Signature</div>
                    <div class="col">Date</div>
                </div>
            </section>
        </footer>
    </div>
</div>