<mat-card>
    <div class="heading">
        <h1>Students</h1>
    </div>
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
    </div>
    <div class="clearfix"></div>
</mat-card>
<br>

<!--mat-card> 
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
</mat-card-->

<app-students-list
  [listEditable]="false"
  [students]="students$ | async"
  (studentClicked)="selectStudent($event)"
  (removeStudent)="removeStudent($event)"
></app-students-list>