<div class="mat-elevation-z8" *ngIf="studentsAvailable() && teachersAvailable()">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      
      <ng-container matColumnDef="names">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.names}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.surname}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.grade | enumToString:gradeEnumType}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="student_class">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.studentClass | enumToString:classEnumType}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="register_teacher_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Register Teacher</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ mapTeacherIdToTeacherNames(row.registerTeacherId, teachers)}}</mat-cell>
      </ng-container> 
  
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.gender}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon (click)="selectStudent(row); $event.stopPropagation()">edit</mat-icon>
          <mat-icon (click)="deleteStudent(row); $event.stopPropagation()">delete</mat-icon>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectStudent(row)"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50, 100, 250]">
    </mat-paginator>
  </div>
  
        
  <br>
  <mat-card>
    <button mat-raised-button color="primary" (click)="addNewStudent()">ADD NEW STUDENT</button>
  </mat-card> 