form{

    max-width:450px;margin:auto;margin-top:50px;padding:35px;

    mat-form-field, input, button{width:100%;}
    mat-form-field {margin-bottom:20px;}

    .success{color:green;}
    .error{color:red;}

    .footer{max-width:450px;margin:auto;}
}

form, .button-group{margin:auto; max-width:960px;}