<form [formGroup]="passwordForm">
    <mat-form-field class="form-full-width">
        <input matInput [type]="oldPasswordVisibility ? 'text' : 'password'" placeholder="Old Password: " formControlName="oldPassword">
        <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
            {{!oldPasswordVisibility ? 'visibility':'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="oldPassword.invalid && oldPassword.touched">
            Please input a valid password
        </mat-error>

    </mat-form-field>

    <mat-form-field class="form-full-width">
        <input matInput [type]="newPasswordVisibility ? 'text' : 'password'" placeholder="New Password: " formControlName="newPassword">
        <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
            {{!newPasswordVisibility ? 'visibility':'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="newPassword.invalid && newPassword.touched">
            Please input a valid password
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-full-width">
        <input matInput [type]="newPasswordConfirmVisibility ? 'text' : 'password'" placeholder="Confirm New Password: " formControlName="newPasswordConfirm">
        <mat-icon matSuffix (click)="toggleNewPasswordConfirmVisibility()">
            {{!newPasswordConfirmVisibility ? 'visibility':'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="newPasswordConfirm.invalid && newPasswordConfirm.touched">
            Please input a valid password
        </mat-error>

    </mat-form-field>

    <mat-error id="mismatch-pass-error" [hidden]="passwordForm.invalid || passwordsMatch || !newPasswordConfirm.touched || !newPassword.touched">
        New passwords are not the same
    </mat-error>


    <button mat-raised-button color="primary" (click)="submitForm()" 
        [disabled]="!passwordForm.touched || passwordForm.invalid || !passwordsMatch"
    >
        Change Password
    </button>

</form>


